<a href="https://colab.research.google.com/github/JayanthJakkula/Data-Science/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
l=[1,2,3,4,5]
s=pd.Series(l,index=['1st','2nd','3rd','4th','5th'])
print(s)

print()
print("using dictionary")
d={'a':1,'b':2,'c':3,'d':4,'e':5}
s=pd.Series(d)
print(s)

1st    1
2nd    2
3rd    3
4th    4
5th    5
dtype: int64

using dictionary
a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
# task1
d={'jay':30,'raj':35,'karan':39,'vis':12,'kanth':36,'ram':40}
score=pd.Series(d)
print(score)
print()
print("jay score:",score['jay'])
print("raj score:",score['raj'])
print("karan score:",score['karan'])
print()
score=score+5
print("score after adding 5:")
print(score)

print()
print("score greater than 30:")
print(score[score>30])

print()
print("Average score of the scores:",score.mean())

jay      30
raj      35
karan    39
vis      12
kanth    36
ram      40
dtype: int64

jay score: 30
raj score: 35
karan score: 39

score after adding 5:
jay      35
raj      40
karan    44
vis      17
kanth    41
ram      45
dtype: int64

score greater than 30:
jay      35
raj      40
karan    44
kanth    41
ram      45
dtype: int64

Average score of the scores: 37.0

In [ ]:
# dataframe
a=np.array([[17,20],[13,14],[15,16],[17,18]])
s=pd.DataFrame(a,index=['jay','raj','vis','kar'],columns=['maths','science'])
s
s.values
s.index
s.columns

Index(['maths', 'science'], dtype='object')

In [ ]:
# dictionary of a dictionary to the data frame
d={'jay':{'maths':17,'science':20},'raj':{'maths':13,'science':14},'vis':{'maths':15,'science':16},'kar':{'maths':17,'science':18}}
s=pd.DataFrame(d)
s

         jay  raj  vis  kar
maths     17   13   15   17
science   20   14   16   18

In [ ]:
# usind dictionary and lists
d={'name':['jay','raj','vis','kar'],
   'age':[19,20,25,21],
   'marks':[19,20,25,21]}
s=pd.DataFrame(d,index=[1,2,3,4])
s
s.index
s.shape
s.columns
s.values
type(s.values)

numpy.ndarray

In [ ]:
# using dictionay of series
s1=pd.Series(['jay','raj','vis','kar'],index=[1,2,3,4])
s2=pd.Series([19,20,25,21],index=[1,2,3,4])
s3=pd.Series([19,20,25,21],index=[1,2,3,4])
d={'name':s1,'age':s2,'marks':s3}
s=pd.DataFrame(d)
s

  name  age  marks
1  jay   19     19
2  raj   20     20
3  vis   25     25
4  kar   21     21

You are given three Series representing student data:

Names of students

Their ages

Their marks

These series are combined into a DataFrame as shown earlier.

### ðŸŽ¯ Your Task:
Using the existing DataFrame, perform the following operations:

âœ… Print the details (name, age, marks) of the student who scored the highest marks.

âœ… Add a new student "Tharushi" with age 23 and marks 88 using the index "Th".

âœ… Display the details of students who are 25 years old or older.

âœ… Increase the marks of students below 80 by 10 bonus points.

âœ… Calculate and print the average marks of all students after the bonus.

In [ ]:
s1=pd.Series(['jayanth','viswas','karan'])
s2=pd.Series([23,27,25])
s3=pd.Series([90,50,95])
d={'name':s1,'age':s2,'marks':s3}
s=pd.DataFrame(d)
s
print()
print("Highest marks student details:")
print(s.loc[s['marks'].idxmax()])

print()
print("Add new student")
s.loc[3]=['chandrakanth',24,70]
print(s)

print()
print("Display the details of students who are 25 years old or older.")
print(s.loc[s['age']>25])

print()
print("Increase the marks of students below 80 by 10 bonus points.")
s.loc[s['marks']<80,'marks']+=10
print(s)
print()
print(" Calculate and print the average marks of all students after the bonus.")
print(s['marks'].mean())

Highest marks student details:
name     karan
age         25
marks       95
Name: 2, dtype: object

Add new student
           name  age  marks
0       jayanth   23     90
1        viswas   27     50
2         karan   25     95
3  chandrakanth   24     70

Display the details of students who are 25 years old or older.
     name  age  marks
1  viswas   27     50

Increase the marks of students below 80 by 10 bonus points.
           name  age  marks
0       jayanth   23     90
1        viswas   27     60
2         karan   25     95
3  chandrakanth   24     80

 Calculate and print the average marks of all students after the bonus.
81.25

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data.csv')
print(df.head())

   Duration        Date  Pulse  Maxpulse  Calories
0        60  2020/12/01    110       130     409.1
1        60  2020/12/02    117       145     479.0
2        60  2020/12/03    103       135     340.0
3        45  2020/12/04    109       175     282.4
4        45  2020/12/05    117       148     406.0

In [ ]:
df.tail()
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      32 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  32 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

In [ ]:
# fill null values
df.fillna(130,inplace=True)
df.isnull().sum()
print(df)

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112       0.0
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45           0    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132       0.0
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

In [ ]:
x=df["Calories"].median()
df.fillna({"Calories":x},inplace=True)
df

x=df["Calories"].mode()[0]
df["Calories"].fillna(x,inplace=True)
df

/tmp/ipython-input-2996424322.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Calories"].fillna(x,inplace=True)

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112       0.0
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45           0    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132       0.0
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

In [ ]:
df.isnull().sum()

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

In [ ]:
# data wrong format
df['Date']=pd.to_datetime(df['Date'],format='mixed')
print(df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       0.0
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45 1970-01-01    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       0.0
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [ ]:
df=pd.read_csv(path)
df.info()
a=df.shape
print("shape: ",a)
df.isnull().sum()
# df.fillna(130,inplace=True)
x=df['Calories'].median()
df['Calories'].fillna(x,inplace=True)
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB
shape:  (32, 5)

/tmp/ipython-input-2578630541.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Calories'].fillna(x,inplace=True)

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112     291.2
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45         NaN    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132     291.2
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

In [ ]:
df['Date']=pd.to_datetime(df['Date'],format='mixed')
print(df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112     291.2
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132     291.2
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [ ]:
df.dropna(subset=['Date'],inplace=True)
df

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112     291.2
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132     291.2
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [ ]:
# wrong data
df.loc[7,'Duration']=45
print(df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7         45 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112     291.2
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132     291.2
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [ ]:
for x in df.index:
  if df.loc[x, "Duration"] > 120:
    df.loc[x, "Duration"] = 120

In [ ]:
# remove rows
for x in df.index:
  if df.loc[x,"Duration"]>120:
    df.drop(x,inplace=True)
print(df)

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7         45 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112     291.2
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132     291.2
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [ ]:
print(df.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [ ]:
df.drop_duplicates(inplace=True)
print(df)

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7         45 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112     291.2
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132     291.2
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [ ]:
# filtering
high_pulse=df[df['Pulse']>110]
print(high_pulse)

    Duration       Date  Pulse  Maxpulse  Calories
1         60 2020-12-02    117       145     479.0
4         45 2020-12-05    117       148     406.0
23        60 2020-12-23    130       101     300.0

In [ ]:
#sorting
sorted_df=df.sort_values(by='Calories',ascending=False)
print(sorted_df)

    Duration       Date  Pulse  Maxpulse  Calories
1         60 2020-12-02    117       145     479.0
0         60 2020-12-01    110       130     409.1
4         45 2020-12-05    117       148     406.0
30        60 2020-12-30    102       129     380.3
14        60 2020-12-14    104       132     379.3
6         60 2020-12-07    110       136     374.0
21        60 2020-12-21    108       131     364.2
13        60 2020-12-13    106       128     345.3
2         60 2020-12-03    103       135     340.0
25        60 2020-12-25    102       126     334.5
10        60 2020-12-11    103       147     329.3
19        60 2020-12-19    103       123     323.0
5         60 2020-12-06    102       127     300.0
17        60 2020-12-17    100       120     300.0
23        60 2020-12-23    130       101     300.0
18        45 2020-12-18     90       112     291.2
28        60 2020-12-28    103       132     291.2
3         45 2020-12-04    109       175     282.4
29        60 2020-12-29    100       132     280.0
15        60 2020-12-15     98       123     275.0
9         60 2020-12-10     98       124     269.0
7         45 2020-12-08    104       134     253.3
11        60 2020-12-12    100       120     250.7
26        60 2020-12-26    100       120     250.0
24        45 2020-12-24    105       132     246.0
31        60 2020-12-31     92       115     243.0
20        45 2020-12-20     97       125     243.0
27        60 2020-12-27     92       118     241.0
16        60 2020-12-16     98       120     215.2
8         30 2020-12-09    109       133     195.1

In [ ]:
trainer_df = pd.DataFrame({
    'Date': ['2020/12/01', '2020/12/02', '2020/12/03'],
    'Trainer': ['Alex', 'Jordan', 'Taylor']
})

In [ ]:
# Convert 'Date' column in trainer_df to datetime format
trainer_df['Date'] = pd.to_datetime(trainer_df['Date'])

In [ ]:
# Now merge
merged_df = pd.merge(df, trainer_df, on='Date')

print(merged_df)

   Duration       Date  Pulse  Max_Pulse  Calories  PulseRange Trainer
0        60 2020-12-01    110        130     409.1  (100, 110]    Alex
1        60 2020-12-02    117        145     479.0  (110, 120]  Jordan
2        60 2020-12-03    103        135     340.0  (100, 110]  Taylor

In [ ]:
# Group by Duration and get average Calories
avg_calories_by_duration = df.groupby('Duration')['Calories'].mean()
print(avg_calories_by_duration)

# Group by Pulse range (bucketed)
df['PulseRange'] = pd.cut(df['Pulse'], bins=[100, 110, 120, 130, 140, 150, 180])
grouped_stats = df.groupby('PulseRange', observed=False).agg({
    'Calories': 'mean',
    'Maxpulse': 'max'
})

print(grouped_stats)

Duration
30    195.100000
45    286.983333
60    316.221739
Name: Calories, dtype: float64
            Calories  Maxpulse
PulseRange
(100, 110]  321.6875     175.0
(110, 120]  442.5000     148.0
(120, 130]  300.0000     101.0
(130, 140]       NaN       NaN
(140, 150]       NaN       NaN
(150, 180]       NaN       NaN

In [ ]:
# rename cloumns
df.rename(columns={'Maxpulse':'Max_Pulse'},inplace=True)
print(df)

    Duration       Date  Pulse  Max_Pulse  Calories      PulseRange
0         60 2020-12-01    110        130     409.1  (100.0, 110.0]
1         60 2020-12-02    117        145     479.0  (110.0, 120.0]
2         60 2020-12-03    103        135     340.0  (100.0, 110.0]
3         45 2020-12-04    109        175     282.4  (100.0, 110.0]
4         45 2020-12-05    117        148     406.0  (110.0, 120.0]
5         60 2020-12-06    102        127     300.0  (100.0, 110.0]
6         60 2020-12-07    110        136     374.0  (100.0, 110.0]
7         45 2020-12-08    104        134     253.3  (100.0, 110.0]
8         30 2020-12-09    109        133     195.1  (100.0, 110.0]
9         60 2020-12-10     98        124     269.0             NaN
10        60 2020-12-11    103        147     329.3  (100.0, 110.0]
11        60 2020-12-12    100        120     250.7             NaN
13        60 2020-12-13    106        128     345.3  (100.0, 110.0]
14        60 2020-12-14    104        132     379.3  (100.0, 110.0]
15        60 2020-12-15     98        123     275.0             NaN
16        60 2020-12-16     98        120     215.2             NaN
17        60 2020-12-17    100        120     300.0             NaN
18        45 2020-12-18     90        112     291.2             NaN
19        60 2020-12-19    103        123     323.0  (100.0, 110.0]
20        45 2020-12-20     97        125     243.0             NaN
21        60 2020-12-21    108        131     364.2  (100.0, 110.0]
23        60 2020-12-23    130        101     300.0  (120.0, 130.0]
24        45 2020-12-24    105        132     246.0  (100.0, 110.0]
25        60 2020-12-25    102        126     334.5  (100.0, 110.0]
26        60 2020-12-26    100        120     250.0             NaN
27        60 2020-12-27     92        118     241.0             NaN
28        60 2020-12-28    103        132     291.2  (100.0, 110.0]
29        60 2020-12-29    100        132     280.0             NaN
30        60 2020-12-30    102        129     380.3  (100.0, 110.0]
31        60 2020-12-31     92        115     243.0             NaN

In [ ]:
df.value_counts()

Duration  Date        Pulse  Max_Pulse  Calories  PulseRange
30        2020-12-09  109    133        195.1     (100, 110]    1
45        2020-12-04  109    175        282.4     (100, 110]    1
          2020-12-05  117    148        406.0     (110, 120]    1
          2020-12-08  104    134        253.3     (100, 110]    1
          2020-12-24  105    132        246.0     (100, 110]    1
60        2020-12-01  110    130        409.1     (100, 110]    1
          2020-12-02  117    145        479.0     (110, 120]    1
          2020-12-03  103    135        340.0     (100, 110]    1
          2020-12-06  102    127        300.0     (100, 110]    1
          2020-12-07  110    136        374.0     (100, 110]    1
          2020-12-11  103    147        329.3     (100, 110]    1
          2020-12-13  106    128        345.3     (100, 110]    1
          2020-12-14  104    132        379.3     (100, 110]    1
          2020-12-19  103    123        323.0     (100, 110]    1
          2020-12-21  108    131        364.2     (100, 110]    1
          2020-12-23  130    101        300.0     (120, 130]    1
          2020-12-25  102    126        334.5     (100, 110]    1
          2020-12-28  103    132        291.2     (100, 110]    1
          2020-12-30  102    129        380.3     (100, 110]    1
Name: count, dtype: int64

In [ ]:
print(df['Pulse'].value_counts())

Pulse
103    4
100    4
98     3
102    3
117    2
109    2
110    2
104    2
92     2
90     1
106    1
97     1
108    1
130    1
105    1
Name: count, dtype: int64

In [ ]:
df.query('Pulse>110 and Calories<400')

    Duration       Date  Pulse  Max_Pulse  Calories  PulseRange
23        60 2020-12-23    130        101     300.0  (120, 130]

In [ ]:
df[df['Calories'].between(200,500)]

    Duration       Date  Pulse  Max_Pulse  Calories      PulseRange
0         60 2020-12-01    110        130     409.1  (100.0, 110.0]
1         60 2020-12-02    117        145     479.0  (110.0, 120.0]
2         60 2020-12-03    103        135     340.0  (100.0, 110.0]
3         45 2020-12-04    109        175     282.4  (100.0, 110.0]
4         45 2020-12-05    117        148     406.0  (110.0, 120.0]
5         60 2020-12-06    102        127     300.0  (100.0, 110.0]
6         60 2020-12-07    110        136     374.0  (100.0, 110.0]
7         45 2020-12-08    104        134     253.3  (100.0, 110.0]
9         60 2020-12-10     98        124     269.0             NaN
10        60 2020-12-11    103        147     329.3  (100.0, 110.0]
11        60 2020-12-12    100        120     250.7             NaN
13        60 2020-12-13    106        128     345.3  (100.0, 110.0]
14        60 2020-12-14    104        132     379.3  (100.0, 110.0]
15        60 2020-12-15     98        123     275.0             NaN
16        60 2020-12-16     98        120     215.2             NaN
17        60 2020-12-17    100        120     300.0             NaN
18        45 2020-12-18     90        112     291.2             NaN
19        60 2020-12-19    103        123     323.0  (100.0, 110.0]
20        45 2020-12-20     97        125     243.0             NaN
21        60 2020-12-21    108        131     364.2  (100.0, 110.0]
23        60 2020-12-23    130        101     300.0  (120.0, 130.0]
24        45 2020-12-24    105        132     246.0  (100.0, 110.0]
25        60 2020-12-25    102        126     334.5  (100.0, 110.0]
26        60 2020-12-26    100        120     250.0             NaN
27        60 2020-12-27     92        118     241.0             NaN
28        60 2020-12-28    103        132     291.2  (100.0, 110.0]
29        60 2020-12-29    100        132     280.0             NaN
30        60 2020-12-30    102        129     380.3  (100.0, 110.0]
31        60 2020-12-31     92        115     243.0             NaN

In [ ]:
merged_df['Trainer']=merged_df['Trainer'].str.title()
merged_df[merged_df['Trainer'].str.contains('Alex')]

   Duration       Date  Pulse  Max_Pulse  Calories  PulseRange Trainer
0        60 2020-12-01    110        130     409.1  (100, 110]    Alex

In [ ]:
df=pd.read_csv('/content/drive/My Drive/OnlineRetail.csv',encoding='unicode_escape')
print(df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/2010 8:26       2.55     17850.0  United Kingdom
1  12/1/2010 8:26       3.39     17850.0  United Kingdom
2  12/1/2010 8:26       2.75     17850.0  United Kingdom
3  12/1/2010 8:26       3.39     17850.0  United Kingdom
4  12/1/2010 8:26       3.39     17850.0  United Kingdom

In [ ]:
print(df.shape)
print(df.info())
print(df.head())
print(df.tail())
print(df.dtypes)

(541909, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
None
  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/2010 8:26       2.55     17850.0  United Kingdom
1  12/1/2010 8:26       3.39     17850.0  United Kingdom
2  12/1/2010 8:26       2.75     17850.0  United Kingdom
3  12/1/2010 8:26       3.39     17850.0  United Kingdom
4  12/1/2010 8:26       3.39     17850.0  United Kingdom
       InvoiceNo StockCode                      Description  Quantity  \
541904    581587     22613      PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899     CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254    CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255  CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138    BAKING SET 9 PIECE RETROSPOT          3

            InvoiceDate  UnitPrice  CustomerID Country
541904  12/9/2011 12:50       0.85     12680.0  France
541905  12/9/2011 12:50       2.10     12680.0  France
541906  12/9/2011 12:50       4.15     12680.0  France
541907  12/9/2011 12:50       4.15     12680.0  France
541908  12/9/2011 12:50       4.95     12680.0  France
InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [ ]:
# Check for missing values
print(df.isnull().sum())

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [ ]:
# Drop rows where CustomerID is missing (canâ€™t link to a customer)
df = df.dropna(subset=['CustomerID'])

In [ ]:
# Fill missing descriptions or other columns
df['Description'] = df['Description'].fillna("Unknown")
print(df)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

            InvoiceDate  UnitPrice  CustomerID         Country
0        12/1/2010 8:26       2.55     17850.0  United Kingdom
1        12/1/2010 8:26       3.39     17850.0  United Kingdom
2        12/1/2010 8:26       2.75     17850.0  United Kingdom
3        12/1/2010 8:26       3.39     17850.0  United Kingdom
4        12/1/2010 8:26       3.39     17850.0  United Kingdom
...                 ...        ...         ...             ...
541904  12/9/2011 12:50       0.85     12680.0          France
541905  12/9/2011 12:50       2.10     12680.0          France
541906  12/9/2011 12:50       4.15     12680.0          France
541907  12/9/2011 12:50       4.15     12680.0          France
541908  12/9/2011 12:50       4.95     12680.0          France

[406829 rows x 8 columns]

In [ ]:
# Convert InvoiceDate to datetime
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], errors='coerce')
df
df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [ ]:
# Drop records where date parsing failed
df = df.dropna(subset=['InvoiceDate'])
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [ ]:
returns = df[df['Quantity'] < 0]
print("Returns count:", len(returns))

Returns count: 8905

In [ ]:
df = df[df['Quantity'] > 0]
df = df[df['UnitPrice'] > 0]

In [ ]:

print("Duplicates:", df.duplicated().sum())

Duplicates: 5192

In [ ]:
df = df.drop_duplicates()

In [ ]:
df['TotalSales'] = df['Quantity'] * df['UnitPrice']

In [ ]:
top_products = df.groupby('Description')['TotalSales'].sum().sort_values(ascending=False).head(10)
print(top_products)

Description
PAPER CRAFT , LITTLE BIRDIE           168469.60
REGENCY CAKESTAND 3 TIER              142264.75
WHITE HANGING HEART T-LIGHT HOLDER    100392.10
JUMBO BAG RED RETROSPOT                85040.54
MEDIUM CERAMIC TOP STORAGE JAR         81416.73
POSTAGE                                77803.96
PARTY BUNTING                          68785.23
ASSORTED COLOUR BIRD ORNAMENT          56413.03
Manual                                 53419.93
RABBIT NIGHT LIGHT                     51251.24
Name: TotalSales, dtype: float64

In [ ]:
country_sales = df.groupby('Country')['TotalSales'].sum().sort_values(ascending=False)
print(country_sales.head(10))

Country
United Kingdom    7285024.644
Netherlands        285446.340
EIRE               265262.460
Germany            228678.400
France             208934.310
Australia          138453.810
Spain               61558.560
Switzerland         56443.950
Belgium             41196.340
Sweden              38367.830
Name: TotalSales, dtype: float64

In [ ]:
customer_sales = df.groupby('CustomerID')['TotalSales'].sum().sort_values(ascending=False).head(10)
print(customer_sales)

CustomerID
14646.0    280206.02
18102.0    259657.30
17450.0    194390.79
16446.0    168472.50
14911.0    143711.17
12415.0    124914.53
14156.0    117210.08
17511.0     91062.38
16029.0     80850.84
12346.0     77183.60
Name: TotalSales, dtype: float64

In [ ]:
df['InvoiceMonth'] = df['InvoiceDate'].dt.to_period('M')
monthly_sales = df.groupby('InvoiceMonth')['TotalSales'].sum()
print(monthly_sales)

InvoiceMonth
2010-12     570422.730
2011-01     568101.310
2011-02     446084.920
2011-03     594081.760
2011-04     468374.331
2011-05     677355.150
2011-06     660046.050
2011-07     598962.901
2011-08     644051.040
2011-09     950690.202
2011-10    1035642.450
2011-11    1156205.610
2011-12     517190.440
Freq: M, Name: TotalSales, dtype: float64

In [ ]:
df.to_csv("OnlineRetail_Cleaned.csv", index=False)

In [ ]:
# Filter transactions with unusually high quantity (outliers)
outliers = df[df['Quantity'] > 1000]
print("Suspicious transactions (Quantity > 1000):")
print(outliers.head())

# Optionally, drop or keep separately for investigation
df = df[df['Quantity'] <= 1000]

Suspicious transactions (Quantity > 1000):
      InvoiceNo StockCode                        Description  Quantity  \
4850     536809     84950     ASSORTED COLOUR T-LIGHT HOLDER      1824
4945     536830     84077  WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880
4946     536830     21915             RED  HARMONICA IN BOX       1400
6365     536890    17084R              ASSORTED INCENSE PACK      1440
16435    537659     22189            CREAM HEART CARD HOLDER      1008

              InvoiceDate  UnitPrice  CustomerID         Country  TotalSales  \
4850  2010-12-02 16:48:00       0.55     15299.0  United Kingdom     1003.20
4945  2010-12-02 17:38:00       0.18     16754.0  United Kingdom      518.40
4946  2010-12-02 17:38:00       1.06     16754.0  United Kingdom     1484.00
6365  2010-12-03 11:48:00       0.16     14156.0            EIRE      230.40
16435 2010-12-07 16:43:00       2.31     18102.0  United Kingdom     2328.48

      InvoiceMonth
4850       2010-12
4945       2010-12
4946       2010-12
6365       2010-12
16435      2010-12

In [ ]:
# Compute total revenue per transaction
df['Revenue'] = df['Quantity'] * df['UnitPrice']

# Sort descending by Revenue
df_sorted = df.sort_values(by='Revenue', ascending=False)
print(df_sorted.head())

       InvoiceNo StockCode                     Description  Quantity  \
222680    556444     22502  PICNIC BASKET WICKER 60 PIECES        60
173382    551697      POST                         POSTAGE         1
52772     540818     48185              DOORMAT FAIRY CAKE       670
244419    558526     23173           REGENCY TEAPOT ROSES        540
160544    550461     48185              DOORMAT FAIRY CAKE       670

               InvoiceDate  UnitPrice  CustomerID         Country  TotalSales  \
222680 2011-06-10 15:28:00     649.50     15098.0  United Kingdom    38970.00
173382 2011-05-03 13:46:00    8142.75     16029.0  United Kingdom     8142.75
52772  2011-01-11 12:57:00       6.75     15749.0  United Kingdom     4522.50
244419 2011-06-30 11:01:00       8.15     17949.0  United Kingdom     4401.00
160544 2011-04-18 13:20:00       6.35     15749.0  United Kingdom     4254.50

       InvoiceMonth   Revenue
222680      2011-06  38970.00
173382      2011-05   8142.75
52772       2011-01   4522.50
244419      2011-06   4401.00
160544      2011-04   4254.50

In [ ]:
# Example custom data
product_info = pd.DataFrame({
    'StockCode': ['85123A', '71053', '84406B', '84029G', '22752'],
    'Category': ['Home Decor', 'Toys', 'Kitchen', 'Giftware', 'Stationery'],
    'Supplier': ['ABC Ltd', 'XYZ Imports', 'GlobalMart', 'StarSupply', 'PaperWorks']
})

# Merge with main dataset
df_merged = df.merge(product_info, on='StockCode', how='left')
print(df_merged.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country  TotalSales  \
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34

  InvoiceMonth  Revenue    Category     Supplier
0      2010-12    15.30  Home Decor      ABC Ltd
1      2010-12    20.34        Toys  XYZ Imports
2      2010-12    22.00     Kitchen   GlobalMart
3      2010-12    20.34    Giftware   StarSupply
4      2010-12    20.34         NaN          NaN

In [ ]:
country_summary = df.groupby('Country').agg(
    Total_Revenue=('Revenue', 'sum'),
    Mean_Revenue=('Revenue', 'mean'),
    Order_Count=('InvoiceNo', 'nunique')
).sort_values(by='Total_Revenue', ascending=False)

print(country_summary.head(10))

                Total_Revenue  Mean_Revenue  Order_Count
Country
United Kingdom    6902494.694     19.771803        16617
Netherlands        275523.780    117.044936           92
EIRE               265032.060     36.682638          260
Germany            228678.400     25.338327          457
France             208934.310     25.094200          389
Australia          137820.210    116.796788           57
Spain               61558.560     24.832013           90
Switzerland         56443.950     30.659397           51
Belgium             41196.340     20.283772           98
Sweden              38367.830     85.261844           36

In [ ]:
# Define bins and labels
bins = [0, 2, 10, 50, np.inf]
labels = ['Cheap', 'Medium', 'Expensive', 'Premium']

# Categorize products based on UnitPrice
df['Price_Range'] = pd.cut(df['UnitPrice'], bins=bins, labels=labels)

# Group by Price Range
price_summary = df.groupby('Price_Range').agg(
    Purchases=('InvoiceNo', 'count'),
    Avg_Revenue=('Revenue', 'mean')
)

print(price_summary)

             Purchases  Avg_Revenue
Price_Range
Cheap           207740    16.590382
Medium          174046    25.127349
Expensive        10561    49.589881
Premium            241   593.058838

/tmp/ipython-input-1302098503.py:9: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  price_summary = df.groupby('Price_Range').agg(

In [ ]:
# Correlation among numeric columns
corr = df[['Quantity', 'UnitPrice', 'Revenue']].corr()
print(corr)

           Quantity  UnitPrice   Revenue
Quantity   1.000000  -0.023666  0.449534
UnitPrice -0.023666   1.000000  0.281710
Revenue    0.449534   0.281710  1.000000

In [ ]:
df = df.rename(columns={
    'StockCode': 'Product_ID',
    'UnitPrice': 'Price'
})

In [ ]:
# Convert to lowercase for consistent text processing
df['Description'] = df['Description'].str.lower()

# Filter products containing the word 'glass'
glass_products = df[df['Description'].str.contains('glass', na=False)]
print(glass_products.head())

# Count such products
print("Products containing 'glass':", len(glass_products))

    InvoiceNo Product_ID                        Description  Quantity  \
6      536365      21730  glass star frosted t-light holder         6
64     536373      21730  glass star frosted t-light holder         6
81     536375      21730  glass star frosted t-light holder         6
138    536381      22778                 glass cloche small         3
148    536382      22798   antique glass dressing table pot         8

            InvoiceDate  Price  CustomerID         Country  TotalSales  \
6   2010-12-01 08:26:00   4.25     17850.0  United Kingdom       25.50
64  2010-12-01 09:02:00   4.25     17850.0  United Kingdom       25.50
81  2010-12-01 09:32:00   4.25     17850.0  United Kingdom       25.50
138 2010-12-01 09:41:00   3.95     15311.0  United Kingdom       11.85
148 2010-12-01 09:45:00   2.95     16098.0  United Kingdom       23.60

    InvoiceMonth  Revenue Price_Range
6        2010-12    25.50      Medium
64       2010-12    25.50      Medium
81       2010-12    25.50      Medium
138      2010-12    11.85      Medium
148      2010-12    23.60      Medium
Products containing 'glass': 8874

In [ ]:
df.to_csv("OnlineRetail_FinalCleaned.csv", index=False)

In [ ]:
# Summary statistics for numeric columns
numeric_summary = df[['Quantity', 'Price', 'Revenue']].describe()
print(" Numeric Summary:\n", numeric_summary)

ðŸ“ˆ Numeric Summary:
             Quantity          Price        Revenue
count  392588.000000  392588.000000  392588.000000
mean       12.296323       3.126493      21.616673
std        31.965322      22.244748      90.368597
min         1.000000       0.001000       0.001000
25%         2.000000       1.250000       4.950000
50%         6.000000       1.950000      12.390000
75%        12.000000       3.750000      19.800000
max      1000.000000    8142.750000   38970.000000

In [ ]:
# Country-wise distribution
country_counts = df['Country'].value_counts()
print("\nTransactions by Country:\n", country_counts.head(10))

# If merged product_info exists (has Category column)
if 'Category' in df.columns:
    category_counts = df['Category'].value_counts()
    print("\nðŸ·ï¸ Transactions by Category:\n", category_counts)

ðŸŒ Transactions by Country:
 Country
United Kingdom    349108
Germany             9025
France              8326
EIRE                7225
Spain               2479
Netherlands         2354
Belgium             2031
Switzerland         1841
Portugal            1453
Australia           1180
Name: count, dtype: int64

In [ ]:
# Find orders with high revenue from Germany
high_rev_germany = df.query("Revenue > 1000 and Country == 'Germany'")
print(" High-value orders from Germany:\n", high_rev_germany.head())

ðŸ’¶ High-value orders from Germany:
 Empty DataFrame
Columns: [InvoiceNo, Product_ID, Description, Quantity, InvoiceDate, Price, CustomerID, Country, TotalSales, InvoiceMonth, Revenue, Price_Range]
Index: []

In [ ]:
# Find moderate quantity transactions
moderate_qty = df[df['Quantity'].between(10, 100)]
print("\nOrders with Quantity between 10 and 100:\n", moderate_qty.head())

ðŸ“¦ Orders with Quantity between 10 and 100:
    InvoiceNo Product_ID                      Description  Quantity  \
9     536367      84879    assorted colour bird ornament        32
26    536370      22728        alarm clock bakelike pink        24
27    536370      22727        alarm clock bakelike red         24
28    536370      22726       alarm clock bakelike green        12
29    536370      21724  panda and bunnies sticker sheet        12

           InvoiceDate  Price  CustomerID         Country  TotalSales  \
9  2010-12-01 08:34:00   1.69     13047.0  United Kingdom       54.08
26 2010-12-01 08:45:00   3.75     12583.0          France       90.00
27 2010-12-01 08:45:00   3.75     12583.0          France       90.00
28 2010-12-01 08:45:00   3.75     12583.0          France       45.00
29 2010-12-01 08:45:00   0.85     12583.0          France       10.20

   InvoiceMonth  Revenue Price_Range
9       2010-12    54.08       Cheap
26      2010-12    90.00      Medium
27      2010-12    90.00      Medium
28      2010-12    45.00      Medium
29      2010-12    10.20       Cheap

In [ ]:
df.to_csv("OnlineRetail_FinalDataset.csv", index=False)
print("\nCleaned and enriched dataset saved as 'OnlineRetail_FinalDataset.csv'")

Cleaned and enriched dataset saved as 'OnlineRetail_FinalDataset.csv'

In [ ]:
df.to_excel("OnlineRetail_FinalDataset.xlsx", index=False)
print(" Excel file also saved as 'OnlineRetail_FinalDataset.xlsx'")

 Excel file also saved as 'OnlineRetail_FinalDataset.xlsx'